@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
  background-color: #BAD7F2;
  font-family: Lobster, monospace;
} 

h1 {
  text-align: center;
  color: #B26700;
}

#input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

#numOfQuestions {
  width: 300px;
}

#input-form > label {
  padding: 10px;
}

#input-form button {
  margin: 10px;

}

#q-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  gap: 20px;
  width: 80vw;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#q-cards button {
  align-self: flex-end;
  justify-self: flex-end;
}

.q-card {
  background-color: #E06D06;
  border-radius: 20px;
  width: 45%;
  height: 20vh;
  padding: 20px;
}

input[type="radio"] {
  margin: 10px;
}

